<h1>Destroy <%= singular_name %></h1>

<%%= render :partial => 'detail' %>

<%% form_tag({:action => "index"}, :method => "get") do -%>
  <input type="submit" value="Cancel" />
<%% end -%>
<%% form_tag({:id => @<%= singular_name %>.id}, :method => "delete") do -%>
  <input type="submit" value="Destroy" />
<%% end -%>