<h1>Confirm task</h1>

<%= render :partial => 'detail' %>

<%= form_tag({}, :method => request.request_method) do %>
<%= raw params_to_hidden_tag :task %>
<input type="submit" value="戻る" name="back" class="btn" />
<input type="submit" value="保存" class="btn primary" />
<% end %>
