<h1>Showing project</h1>
<%= render :partial => 'detail' %>

<div>
  <%= link_to 'Edit', edit_project_path(@project), :class => "btn" %>
  <%= link_to 'Back', projects_path, :class => "btn" %>
</div>

