<table class="bordered-table zebra-striped">
  <% for attribute in attributes -%>

  <tr>
    <th><%= attribute.human_name %></th>
    <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
  </tr>

<% end -%>
</table>
