<h1>Editing <%= singular_table_name %></h1>

<%%= render :partial => 'form' %>

<%%= link_to 'Show', <%= singular_controller_path %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Back', <%= index_helper %>_path %>
