<!DOCTYPE html>
<html>
<head>
  <title>Railstar Example</title>
  <%%= stylesheet_link_tag    "bootstrap" %>
  <%%= stylesheet_link_tag    "railstar" %>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>
</head>
<body>

  <!--
  // menu
  <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li class="active">Current page <span class="divider">/</span></li>
    <li><a href="#">Page1</a> <span class="divider">/</span></li>
    <li><a href="#">Page2</a></li>
  </ul>
  -->


  <div class="container">

  <%% if notice %>
  <div class="alert-message success">
    <p><%%= notice %></p>
  </div>
  <%% end %>

<%%= yield %>

</div>

</body>
</html>
